.Header {
    position: relative;
    width: 100%;
    background-color: #333;
    list-style-type: none;
    height: 150px;
    margin-bottom: 30px;
    margin-top: -15px;
  
  
  }


  h1{
    text-align: center;
    color: white;
    padding-top: 50px;
  }


  footer{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: bold 16px sans-serif;
    padding: 10px 0px;
    margin-top: 200px;
  }

  footer p {
      color: #ffffff;
      font-size: 14px;
      font-weight: bold;
  }
