<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>Taxi reservation</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
  <header><h1>Prime Taxi</h1>
      <form method="post" action="http://localhost:8080/accueil">
        <button value="disconnect" name="disconnect">Deconnexion</button>
      </form>
      <br>
      <br>
      <form method="post" action="http://localhost:8080/profil">
        <button value="profil" name="driver">Profile</button>
      </form>
    </header>
  <form method="POST" action="http://localhost:8080/createAccount">
    <div id="co">
      <br>
      <div id="radioButtons">
      <label class="container">Driver
        <input class="radio" type="radio" checked="checked" name="category" value="driver">
        <span class="checkmark"></span>
      </label>
      <label class="container">Client
        <input class="radio" type="radio" checked="checked" name="category" value="client">
        <span class="checkmark"></span>
      </label>
    </div>
      <br>
      <input type="text" name="lastname" placeholder="Last name">
      <br>
      <input type="text" name="firstname" placeholder="First name">
      <br>
      <input type="date" name="birthday">
      <br>
      <input type="email" name="mail" placeholder="E-mail">
      <br>
      <input type="tel" name="phone" placeholder="Phone number">
      <br>
      <input type="text" name="pseudo" placeholder="Pseudo">
      <br>
      <input type="password" name="password" placeholder="Password">
      <br>
    </div>
    <input type="submit" name="Submit">
  </form>
</body>
<footer>
  <p>© 2018, LAURE MERAT</p>
  <p>Paris Diderot</p>
</footer>

</html>
