<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Taxi reservation</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
  <header><h1>Prime Taxi</h1></header>
    <h1>Connexion</h1>
    <form method="post" action="http://localhost:8080/home">
        <br>
        <div id="co">
        <input type="text" name="pseudo" placeholder="Pseudo...">
        <br>
        <input type="password" name="password" placeholder="Password...">
        <br>
      </div>
        <input type="submit" name="connect">
        <br>
    </form>
</body>
<footer>
    <p>© 2018, LAURE MERAT</p>
    <p>Paris Diderot</p>
</footer>

</html>
