Header {
  position: relative;
  width: 100%;
  background-color: #312F2F;
  /*list-style-type: none;*/
  height: 150px;
  margin-bottom: 30px;
  margin-top: -15px;
}

Header h1 {
  color : white;
  font: bold 30px sans-serif;
}

body {
  font: bold 30px sans-serif;
  text-align: center;
  background-color: #ECECEC;
}


h1{
  text-align: center;
  color: #373F51;
  padding-top: 3%;
  font: bold 30px sans-serif;
}


footer{
  background-color: #312F2F;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: bold 16px sans-serif;
  padding: 5px 0px;
  margin-top: 200px;
  bottom : 0;
  position: relative;
}

footer p {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

#co {
  margin: 2% 0 6%;
}

input:not(button):not(.Availability):not(.radio) {
  position: relative;
  /* left: 25%; */
  width: 50%;
  padding: 2% 20px 2%;
  margin: 8px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font: 25px sans-serif;
  text-align: center;
  outline: none;
}

input:focus {
  border: 0;
  border-bottom: 4px solid #C5D3E5;
}

input[type=submit]:not(.headerButton):not(.Availability):not(.chooseRide) {
  display: block;
  text-align: center;
  background-color: #312F2F;
  color : white;
  border-radius: 7px;
  left: 34%;
  width: 30%;
  height: 100px;
  font: bold 25px sans-serif;
  transition-duration: 0.4s;
  box-shadow: none;
  outline: none;
  margin-top: 2%;
}

input[type=submit]:hover, button:hover {
  background-color: #C5D3E5;
  color: #312F2F;
  box-shadow: none;
  cursor: pointer;
}

#connect {
  text-align: center;
  color: #312F2F;
  padding-top: 2%;
  padding-bottom: 4%;
  font : 20px sans-serif;
}

#radioButtons {
  padding-top: 2%;
  padding-bottom: 2%;
  display: inline-block;
  font : 50px sans-serif;
}

.Availability {
  /* display: block; */
  text-align: center;
  background-color: #312F2F;
  color : white;
  border-radius: 5px;
  width: 10%;
  height: 50px;
  font: 20px sans-serif;
  transition-duration: 0.4s;
  box-shadow: none;
  outline: none;
  margin-top: 2%;
}

button {
  width: 10%;
  height: 30%;
  position: absolute;
  margin-left: 38%;
  margin-top: -5%;
  box-shadow: none;
  color: white;
  font: bold 15px sans-serif;
  background-color: #312F2F;
  border-width: 0px;
  border-radius: 2px;
}

table {
  margin-left: 25%;
  font : 20px sans-serif;
  border-collapse: collapse;
  width: 50%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #C5D3E5;}

table tr:hover {background-color: #A9A9A9;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2D61A1;
    color: white;
}

#ridesDone {
  margin-left: 25%;
}

#ridesDoneClient {
  margin-left: 22%;
}

.container {
  display: block;
  position: relative;
  padding-left: 50%;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 40px;
  user-select: none;
  padding-bottom: 10%;
  padding-right: 5%;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background-color: #C5D3E5;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
    background-color: #2D61A1;
}

.container input:checked ~ .checkmark {
    background-color: #312F2F;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
 	top: 10px;
	left: 10px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ECECEC;
}
