Header {
  position: relative;
  width: 100%;
  background-color: #312F2F;
  /*list-style-type: none;*/
  height: 150px;
  margin-bottom: 30px;
  margin-top: -15px;
}

Header h1 {
  color : white;
  font: bold 30px sans-serif;
}

body {
  background-color: #ECECEC;
}


h1{
  text-align: center;
  color: #373F51;
  padding-top: 3%;
  font: bold 30px sans-serif;
}


footer{
  background-color: #312F2F;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: bold 16px sans-serif;
  padding: 5px 0px;
  margin-top: 200px;
  bottom : 0;
  position: relative;
}

footer p {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

#whatever {
  margin: 2% 0 6%;
}

input {
  position: relative;
  left: 25%;
  width: 50%;
  padding: 2% 20px 2%;
  margin: 8px 20px;
  /*display: inline-block;*/
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font: 25px sans-serif;
  text-align: center;
  outline: none;
}

input:focus {
  border: 0;
  border-bottom: 4px solid #C5D3E5;
}

input[type=submit] {
  text-align: center;
  background-color: #312F2F;
  color : white;
  border-radius: 7px;
  left: 35%;
  width: 30%;
  height: 100px;
  font: bold 25px sans-serif;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: none;
  outline: none;
}

input[type=submit]:hover {
  background-color: #C5D3E5;
  color: #312F2F;
  box-shadow: none;
}

#connect {
  text-align: center;
  color: #312F2F;
  padding-top: 2%;
  padding-bottom: 4%;
  font : 20px sans-serif;
}

#radioButtons {
  display: inline-block;
  padding-left: 50%;
  font : 50px sans-serif;
}

.container {
  display: block;
  position: relative;
  padding-left: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 40px;
  user-select: none;
  padding-bottom: 10%;
  padding-right: 5%;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background-color: #C5D3E5;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
    background-color: #2D61A1;
}

.container input:checked ~ .checkmark {
    background-color: #312F2F;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
 	top: 10px;
	left: 10px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ECECEC;
}
