<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Taxi reservation</title>
    <link rel="stylesheet" href="/style.css"/>
</head>

<body method="get" action="http://localhost:8080/driver">
        <h2>Bonjour <%= v_nom %></h2>
        <p>
            <ul> <%= em%> </ul>
        </p>
</body>
<footer>
    <p>© 2018, LAURE MERAT</p>
    <p>Paris Diderot</p>
</footer>

</html>