<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Taxi reservation</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
    <h1> Welcome to our Taxi reservation website!</h1>
    <p> Please connect to use our services</p>
    <form method="post" action="http://localhost:8080/login">
        <input type="submit" name="connexion" value="connexion">
        </form><br>
    <form method="post" action="http://localhost:8080/signUp">
        <input type="submit" name="inscription" value="inscription">
        <br>
    </form>
</body>
<footer>
    <p>© 2018, LAURE MERAT</p>
    <p>Paris Diderot</p>
</footer>

</html>